<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">ngNews</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/domestic" routerLinkActive="active">Domestic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/international" routerLinkActive="active">International</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sports" routerLinkActive="active">Sports</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/business" routerLinkActive="active">Business</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/technology" routerLinkActive="active">Technology</a>
          </li>
          
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Search" type="text">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
    <hr><br>
  <footer id="footer">
    <div class="row">
      <div class="col-lg-12">

        <ul class="list-unstyled">
          <li class="float-lg-right"><a href="#top">Back to top</a></li>
          <li><a href="https://github.com/amar061996/ngNews">GitHub</a>&emsp;&emsp;<a href="https://newsapi.org/">API</a></li>
          
        </ul>
        <p>Made by <a href="https://www.linkedin.com/in/amarprakash196/">Amar Prakash</a>.</p>
        <p>Code released at <a href="https://github.com/amar061996/ngNews"> ngNews</a></p>
        <p>Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fontawesome.io/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>

      </div>
    </div>

  </footer>
</div>