<!--Domestic News -->
<app-domestic *ngIf='isDomesticAvailable' [domestic]='domestic'></app-domestic>
<a class="btn btn-secondary " href="/domestic">See More... </a><br><br>
<hr>

<!-- International news-->
<app-international *ngIf='isInternationalAvailable'  [international]='international'></app-international>
<a class="btn btn-secondary " href="/international">See More... </a><br><br>
<hr>

<!-- Sports news-->
<app-sports *ngIf='isSportsAvailable'  [sports]='sports'></app-sports>
<a class="btn btn-secondary " href="/sports">See More... </a><br><br>
<hr>